.dscription-companias{
    justify-content: center;
    margin-bottom: 2rem;
}

.companias-fondo{
    height: 100vh;
}
.productos-tittle-description{
    font-size: xx-large;
    font-size: 5rem;
}


.contactos{
    display: flex;
    flex-direction: column;
}

.tittle-contactos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.titlle-page-contacto{
    font-size: 4rem;
    font-weight: bold;
    color: var(--negro);
}
.subtitlle-page-contacto{
    color: var(--rosa);
}

.vias-comunication{
    margin-top: 20px;
    padding: 3rem 3rem;
    background: var(--negro);
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.vias-comunication p{
    color: var(--rosa);
    font-size: 2.5rem;
}

.card-contacto{
    display: flex;
    gap: 50px;
    align-items: center;
}
.fa-mobile-retro{
    color: white;
    font-size: 5rem
}

.card-contacto-info{
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
}
.container-contacto, .container-contacto2{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.container-all-contacto{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.contactanos{
    display: flex;
}

.contacto-butom{
    padding: .5rem 2rem;
    border-radius: 25px;
    background-color: var(--rosa);
    color: white;
}

.contacto-butom:hover{
    transition: .3s;
    background-color: palevioletred;
}
.map-ubication{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    justify-content: center;
    width: 50%;
    padding: 4rem 2rem;
}

.map-ubication img{
    width: 100%;
}

.consulta{
    padding: 1rem 0;
    width: 50%;
    text-align: center;
}

.contenido-consulta form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem 2rem;
}

.contenido-consulta form input, textarea{
    border-radius: 20px;
    border: 1px solid black;
    padding: .5rem 2rem;
}


